<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="style.css" rel="stylesheet">
	<link rel="shortcut icon" href="img/icon-1.png"/>
</head>

<body>

<header class="header">
	<div id="header-fixed-block">
		<div class="logo"></div>
		<form class="search" action="" method="POST">
			<input type="text" value="" placeholder="Найти..."/>
			<input type="submit" value=""/>
		</form>
	</div>
</header><!-- .header-->

<div id="promo">
		<p>Теперь и на iPad! Обновлённое iOS приложение уже в AppStore! <a href="">Скачать в iTunes.</a></p>	
</div>

<div class="wrapper">		

	<div class="error-container">
			<div class="error-page">
			</div>
	</div>
	

	<footer class="footer">
		<p>© 2014 «Подслушано.ру»</p>
		<p><a href="">Приложения для iOS и Android</a></p>
		<p><a href="">Мобильная версия</a></p>
		<p><a href="">Рекламодателям</a></p>
		<p><a href="">Пользовательское соглашение</a></p>
		<div class="twitter-btn">Читать @podslushanoru</div>
	</footer><!-- .footer -->

</div><!-- .wrapper -->

</body>
</html>